<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Welcome</h1>
    <p>This site is an API that expose three endpoints like examples below: </p>
    <ul>
        <li>Pow method: <a href="http://127.0.0.1:5000/pow/b=2/e=3">host/pow/b=2/e=3 (optional: /m=3)</a></li>
        <li>Fibbonaci sequence: <a href="http://127.0.0.1:5000/fib/n=3">host/fib/n=3</a></li>
        <li>Factorial method: <a href="http://127.0.0.1:5000/fact/n=3">host/fact/n=3</a></li>
    </ul>
</body>
</html>